.projects-container {
    padding: 70px;
}

.projects-container .project-item {
    display: flex;
    flex-direction: row;
}

.projects-container .project-item .details {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.projects-container .project-item .details .details-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.projects-container .project-item .details .description {
    margin: 10px 0;
}

.projects-container .project-item .actions {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}
