@import url("../../vars.css");

.register-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mobile .register-content {
    width: 80%;
}

.tablet .register-content {
    width: 60%;
}

.desktop .register-content {
    width: 40%;

}

.register-content button {
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}
