.modal-wrapper .overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-wrapper .modal {
    display: block;
    width: 80%;
    max-height: 65%;
    position: relative;
    overflow: auto;
    text-align: center;
    padding: 20px;
    background: white;
}

.modal-wrapper .modal.modal-small {
    display: block;
    width: auto;
    max-height: 65%;
    position: relative;
    overflow: auto;
    text-align: center;
    padding: 20px;
    background: white;
}




