@import url("../../vars.css");

.sidebar {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.sidebar .sidebar-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.sidebar .sidebar-item:hover {
    background-color: hsla(0,0%,100%,.2);
}


.sidebar .sidebar-item .icon {
    margin-right: 5px;
}
